select {
  width: auto;
}

.importapi-form-panel.dragging {
  border: 1px dashed #39a5dc;
  background-color: #eef;
}

.importapi-form-panel {
  padding-top: 25px;
}

.importapi-form-panel ::ng-deep .CodeMirror {
  height: 500px;
  border: 1px solid #ccc;
  width: 100%;
}
